/* 로그인과 양식이 똑같아서 공유해도 괜찮을 것 같아서 같이 쓸려고 한다. */

body {
	align-items: center;
	justify-content: center;
}

.topWrapper {
	vertical-align : 50%;
	align-items: center;
	align-content: center;
	align-self: center;
}

.wrapper {
	max-width: 430px;
	width: 100%;
	background: #fff;
	padding: 34px;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.wrapper h1 {
	font-size: 22px;
	font-weight: 600;
	color: #333;
}

.wrapper form {
	margin-top: 20px;
}

.wrapper form .input-box {
	height: 52px;
	margin: 18px 0;
}
.wrapper form .input-box.id-box {
	height: 52px;
	margin: 0;
}

form .input-box input {
	height: 80%;
	width: 90%;
	outline: none;
	padding: 0 15px;
	font-size: 17px;
	font-weight: 400;
	color: #333;
	border: 1.5px solid #C7BEBE;
	border-bottom-width: 2.5px;
	border-radius: 6px;
	transition: all 0.3s ease;
}

.input-box input:focus, .input-box input:valid {
	border-color: #42b983;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.duplicated_id > button{
	border : none;
	border-radius : 5px;
	background-color :  #42b983;
	color : white;
	width : 150px;
	height : 30px;
	margin : 0;
}
.duplicated_id > button:hover{
	cursor: pointer;
	background: #82c4a6;
	transition: all 0.3s ease;
}
form .policy {
	display: flex;
	align-items: center;
}

form h3 {
	color: #707070;
	font-size: 14px;
	font-weight: 500;
	margin-left: 10px;
}

.input-box.button input {
	color: #fff;
	letter-spacing: 1px;
	border: none;
	background: #42b983;
	cursor: pointer;
}

.input-box.button input:hover {
	background: #82c4a6;
}

form .text h3 {
	color: #333;
	width: 100%;
	text-align: center;
}

form .text h3 a {
	color: #42b983;
	text-decoration: none;
}

form .text h3 a:hover {
	text-decoration: underline;
}