@charset "UTF-8";

thead>tr>th {
	background-color: #297EFF;
	border-left: 0;
	border-right: 0;
}

tr {
	text-align: center;
}

span {
	margin-right: 10px;
}

table {
	margin-bottom: 20px;
	border-collapse: collapse;
	border-radius: 10px;
	margin: auto;
}

th, td {
	padding: 10px;
	border: 2px solid #e9e9e9;
	border-right: none;
}

th:first-child, td:first-child {
	border-left: none;
}

a {
	text-decoration: none;
}

#notSelectedPage:visited {
	color: gray;
}

#boardGroup{
	width : 100%;
	text-align: center;
	display: inline-block;
	margin : auto;
	
}
.board_write{
	margin : 10px 0;
}

.boardWriteButtonDiv {
	border: none;
	border-radius: 12px;
	width: 120px;
	height: 40px;
	background-color: #bebebe;
}

.boardWriteButtonDiv:hover {
	background-color: #dcdcdc;
	cursor: pointer;
}