/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    border: 0;
}

/* wrap */
.wrap {
    margin: 0 auto;
    width: 1240px;
}

/* 로고 */
.mgsjlogo{
	width : 125px;
	height : 125px;
}

/* 공통 헤더 */
#gnb {
	padding-top : 25px;
	align-items : center;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
}

.search>div {
	vertical-align: middle;
}

.search i {
    color: #297EFF;
}

.search_box {
    width: 300px;
    height: 25px;
    padding : 10px;
    border: 1px solid #297EFF;
    border-radius: 30px;
}


/* gnb-utilmenu */
.gnb-utilmenu {
    text-align: right;
    padding-right: 20px;
}

.gnb-utilmenu a i {
    margin: 10px;
    color: #297EFF;
}

/* gnb-navmenu */
.gnb-navmenu{
	justify-content: center;
	padding-top: 20px;
}
.gnb-navmenu ul {
    overflow: hidden;
    height: 60px;
}

.gnb-navmenu li {
    float: left;
    text-align: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    background-color: #ddd;
    border-radius: 40px;
    margin: 5px;
}
.gnb-navmenu li:first-child {
    width: 50px;
}

.gnb-navmenu li a {
    display: block;
    color: #000;
}

.gnb-navmenu li a:hover,
.dropdown:hover {
    background-color:#297EFF;
    border-radius: 40px;
    color: #fff;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    width: 120px;
    height: 50px;
    display: block;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #297EFF;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/*비공통 컨테이너*/

.contents {
    min-height: 800px;
    margin: 66px 0 77px 0;
}

#main>div {
    text-align: center;
    padding: 0;
    font-size: 24px;
}

.banner {
    background-color: #fff;
    float: left;
    width: 817px;
    height: 268px;
}

.notice {
    text-align: left;
    float: right;
    width: 394px;
    height: 268px;
    background: #E5E5E5;
}

.review {
    float: left;
    width: 370px;
    height: 268px;
    margin-top: 40px;
    background: #E5E5E5;
}

.item4 {
    width: 800px;
    height: 300px;
    float: right;
    margin-top: 40px;
    background-color: rgb(239, 239, 239);
}

.hotdeal img {
    background-size: cover;
}


.item {
    grid-column: 4/1;
    margin-bottom: 200px;
}

/*슬라이드 배너*/
.mySlides {
    display: none;
}

.banner img {
	width: 650px;
    height: 240px;
    background-size: cover;

}

.slideshow-container {
    max-height: 268px;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
}

.prev {
    float: left;
    margin-top: 100px;
    margin-left: 0;
}

.next {
    float: right;
    margin-top: 0;
    margin-top: 100px;
}

.prev:hover,
.next:hover {
    background-color: #bbb;
}

.dots {
    margin-left: 550px;
    margin-top: -50px;
    z-index: 1;
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 0.2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/*공지사항*/
.notice{
	padding : 10px;
}

.notice p {
    display: inline;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 25px;
}

.notice>a {
    display: inline;
    margin: 12px 0 0 165px;
    font-size: 16px;
}

.notice ul {
    margin-top: 25px;
}

.notice li {
    width: 350px;
    height: 50px;
    background: #fff;
    border-radius: 30px;
    margin: 0 0 20px 18px;
}

.notice li a {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: left;
    line-height: 50px;
    margin-left: 10px;
}

/*리뷰*/
.review {
	padding : 10px;
}

.review>a {
    display: inline;
    margin: 12px 0 0 130px;
    font-size: 16px;
}
.review p {
    display: inline;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 0 0 -39px;
}
.review ul {
    margin-top: 25px;
}
.review li {
    width: 330px;
    height: 50px;
    background: #fff;
    border-radius: 30px;
    margin: 0 0 20px 18px;
}

.review li a {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    text-align: left;
    line-height: 50px;
    margin-left: 10px;

}

/*핫딜*/
.hotdeal img {
    width: 100%;
}

/*상품*/
.item img {
    width: 250px;
    height: 250px;
    background: #333;
    margin-top: 20px;
}


.item>p {
    text-align: center;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top : 50px;
}

.item a {
    font-size: 16px;
}

.item div p {
    font-size: 12px;
}

.product_list_box {
    display: flex;
    flex-wrap : wrap;
    max-width : 100%;
    justify-content: space-between;
    align-items : center;
    margin-bottom: 87px;
}

.product{
	padding : 20px;
	width : calc(100%/3);
	box-sizing: border-box;
	display: flex;
}

.product div {
	flex : 1;
}

/*푸터*/
footer {
    background-color: rgb(239, 239, 239);
    width: 1240px;
    height: 150px;
    text-align: center;
}
.company span {
    font-size: 14px;
}

.corporate {
    font-size: 18px;
    font-family: 'Arial', 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}
.corporate span {
    font-size: 12px;
}
.corporate i {
    font-size: 12px;
}
.corporate-txt {
    height: 0;
}
.corporate-txt p {
    font-size: 14px;
}
address {
    padding-top: 30px;
    font-size: 12px;
}