<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.boardMapper">
	<!-- bno int userId varchar(20) writer varchar(20) title varchar(50) content text regDate datetime readCount int -->


	<!-- 공지 게시글 목록 : join을 활용하여 유저인증번호로 조회하는 게시판이 다름 -->
	<select id="adminBoardList" resultType="com.project.board.domain.BoardDTO">
		SELECT bno, board.userId, writer, title, content, regDate, readCount
		FROM boarddto as board
		join memberdto as member
		on board.userId = member.userId
		where member.userVerify = 128
		ORDER BY bno DESC
	</select>


	<!-- 일반 게시글 목록 -->
	<select id="memberBoardList" resultType="com.project.board.domain.BoardDTO">
		SELECT bno, board.userId, writer, title, content, regDate, readCount
		FROM boarddto as board
		join memberdto as member
		on board.userId = member.userId
		where not member.userVerify = 128
		ORDER BY bno DESC
	</select>

	<!-- 게시글 작성 -->
	<insert id="boardWrite" parameterType="com.project.board.domain.BoardDTO">
		INSERT INTO boarddto( userId, writer, title, content )
		values (#{userId}, #{writer}, #{title}, #{content});
	</insert>

	<!-- 게시글 삭제하기 -->
	<delete id="boardDelete" parameterType="int">
		DELETE FROM boarddto
		WHERE bno = #{bno}
	</delete>

	<!-- 이용자 게시글 조회하기 -->
	<select id="boardView" parameterType="int" resultType="com.project.board.domain.BoardDTO">
		SELECT bno, userId, writer, title, content, regDate, readCount
		FROM boarddto
		WHERE bno = #{bno}
	</select>
	
	<!-- 게시글 수정 쿼리(POST) -->
	<update id="boardModify" parameterType="com.project.board.domain.BoardDTO">
		update boarddto set
			title = #{title},
			writer = #{writer},
			content = #{content}
		where bno = #{bno}
	</update>

</mapper>