<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.inquireMapper">

<!-- 
	!!! 여기는 데이터베이스 테이블명이 askdto !!!!
	askNum int AI PK 
	pno int 
	askTitle varchar(50) 
	askContent text 
	askRegDate datetime
	
	private int askNum;
	private int pno;
	private String askTitle;
	private String askContent;
	private Date askRegDate;
 -->

<!-- 제품 문의 등록  -->
<insert id = "inquireWrite" parameterType = "com.project.inquire.domain.InquireDTO">
INSERT INTO askdto(pno, askTitle, askContent, askRegDate)
VALUES (#{pno}, #{askTitle}, #{askContent}, NOW())
</insert>

<!-- 제품 문의 조회 -->
<select id = "inquireView" parameterType = "hashMap" resultType = "com.project.inquire.domain.InquireDTO">
SELECT askNum, pno, askTitle, askContent, askRegDate
FROM askdto
WHERE askNum = #{askNum}

</select>

<!-- 제품 문의 수정 -->

<!-- 제품 문의 삭제 -->
<delete id = "inquireDelete" parameterType = "int">
DELETE FROM askdto
WHERE askNum = #{askNum}
</delete>

<!-- 제품 문의 목록 -->
<select id = "inquireList" parameterType = "int" resultType = "com.project.inquire.domain.InquireDTO">
SELECT askNum, a.pno, askTitle, askContent, askRegDate, p.productName
FROM askdto a
INNER JOIN productdto p
ON a.pno = p.pno
WHERE a.pno = #{a.pno}
ORDER BY askNum DESC
</select>


</mapper>