<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.reviewMapper">

	<!-- reviewboarddto 테이블 rvno int NO PRI pno int NO PRI rvTitle varchar(50) NO rvContent text NO rvWriter varchar(50) NO rvRegDate datetime NO -->

	<!-- 리뷰 등록 -->
	<insert id="reviewWrite" parameterType="com.project.review.domain.ReviewBoardDTO">

		INSERT INTO reviewboarddto (pno, rvTitle, rvContent, rvWriter, rvRegDate)
		VALUES (#{pno}, #{rvTitle}, #{rvContent}, #{rvWriter}, NOW())

	</insert>

	<!-- 리뷰 조회 -->
	<select id="reviewView" parameterType="int" resultType="com.project.review.domain.ReviewBoardDTO">

		SELECT rvno, pno, rvTitle, rvContent, rvWriter, rvRegDate
		FROM reviewboarddto
		WHERE rvno = #{rvno}

	</select>

	<!-- 리뷰 수정 -->

	<!-- 리뷰 삭제 -->
	<delete id="reviewDelete" parameterType="int">

		DELETE FROM reviewboarddto
		WHERE rvno = #{rvno}

	</delete>

	<!-- 리뷰 목록 -->
	<select id="reviewList" parameterType = "int" resultType="com.project.review.domain.ReviewBoardDTO">

		SELECT rvno, r.pno, rvTitle, rvContent, rvWriter, rvRegDate, p.productName
		FROM reviewboarddto r
		INNER JOIN productdto p
		ON r.pno = p.pno
		WHERE r.pno = #{pno}
		ORDER BY rvno DESC

	</select>
</mapper>