/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    border: 0;
}

/* wrap */
.wrap {
    margin: 0 auto;
    width: 1240px;
}

/* 공통 헤더 */
#gnb {
    height: 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
}

h1 {
    margin: 20px 0 0 0;
    color: #297EFF;
    font-size: 2.5rem;
}

.search {
    float: left;
    padding-top: 35px;
}

.search button {
    height: 30px;
    border: 0;
    background: #fff;
}

.search button i {
    color: #297EFF;
}

.search_box {
    width: 300px;
    height: 25px;
    border: 1px solid #297EFF;
    border-radius: 30px;
}


/* gnb-utilmenu */
.gnb-utilmenu {
    text-align: right;
    padding-right: 20px;
    padding-top: 35px;
}

.gnb-utilmenu a i {
    margin: 10px;
    color: #297EFF;
}

/* gnb-navmenu */
.gnb-navmenu ul {
    overflow: hidden;
    height: 60px;
}

.gnb-navmenu li {
    float: left;
    text-align: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    background-color: #ddd;
    border-radius: 40px;
    margin: 5px;
}
.gnb-navmenu li:first-child {
    width: 50px;
}

.gnb-navmenu li a {
    display: block;
    color: #000;
}

.gnb-navmenu li a:hover,
.dropdown:hover {
    background-color:#297EFF;
    border-radius: 40px;
    color: #fff;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    width: 120px;
    height: 50px;
    display: block;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #297EFF;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}




/*비공통 컨테이너*/
.category {
    display: block;
    height: 1100px;
}
/* left */
.category-left {
    float: left;
    margin: 50px 100px 0 0;
    width: 300px;
    height: 500px;
    background: #fff;
}
.category-left li {
    line-height: 60px;
    border-bottom: 1px solid #297EFF;
    padding-left: 20px;
    font-size: 26px;
    font-weight: 500;
    cursor: pointer;
}
.category-left li:last-child {
    border: 0;
}

.category-left li:hover {
    background: #ddd;
    cursor: pointer;
}




/* right */
.category-right {
    position: relative;
    margin-top: 50px;
    float: right;
    width: 840px;
    background: #ddd;
}

.category-right h1 {
    margin: 20px 0 30px 20px;
}

/* item */
.item {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
}
.product_first {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}
.product {
    width: 260px;
    height: 200px;
    text-align: center;
}
.product img {
    margin-top: 20px;
    width: 200px;
    height: 120px;
}
.product a {
    font-size: 16px;
}
.product p {
    font-size: 14px;
}








/*푸터*/
footer {
    background-color: rgb(239, 239, 239);
    width: 1240px;
    height: 150px;
    text-align: center;
    margin: 0 auto;
}
.company span {
    font-size: 14px;
}

.corporate {
    font-size: 18px;
    font-family: 'Arial', 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}
.corporate span {
    font-size: 12px;
}
.corporate i {
    font-size: 12px;
}
.corporate-txt {
    height: 0;
}
.corporate-txt p {
    font-size: 14px;
}
address {
    padding-top: 30px;
    font-size: 12px;
}