.login {
	width: 400px;
	margin: auto;
	padding: 0 20px;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	margin: 50px auto 30px;
}

.login-logo {
	color: #297eff;
	font-size: 40px;
	text-align: center;
}

.login-box {
	margin: auto;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	border: 0;
}

.login-box ul {
	padding: 0;
	margin-top: 0;
}

.login-box ul li {
	border: 1px solid #ccc;
	background: #fff;
	display: flex;
	flex-flow: row nowrap;
	margin-bottom: 10px;
	position: relative;
	bottom: -15px;
}

.tabcontent h3 {
	margin-top: 30px;
	margin-bottom: 0;
}

.tabcontent span {
	background: #fff;
	display: flex;
	flex-flow: row nowrap;
	position: relative;
}

.icon {
	padding: 20px;
	padding-right: 30px;
	width: 10px;
	position: relative;
	background-color: #fdfdfd;
}

.login-box span input {
	width: 130%;
	height: 40px;
	border: 0;
	padding-left: 10px;
}

#search-btn {
	border: none;
	background: #297eff;
	width: 100%;
	color: white;
	padding: 20px 0;
	margin-top: 20px;
	margin-bottom: 5px;
}

.join_link {
	border: 1px solid #aaa;
	color: #297eff;
	padding: 20px 0;
	width: 100%;
	display: block;
	text-align: center;
	background: white;
}

footer {
	text-align: center;
	font-size: 12px;
	color: #333;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Style the tab */
.tab {
	overflow: hidden;
	background-color: #f1f1f1;
	display: flex;
	justify-content: space-around;
}

/* Style the buttons inside the tab */
.tab button {
	background-color: inherit;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 14px;
	font-family: 'Noto Sans KR', sans-serif;
}

.red {
	color: #fff!;
	background-color: #f44336;
}