/* Google web font CDN*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

h1 {
  text-align: center;
  margin:  50px auto 30px;
}
.login-logo {
  color: #297eff;
  font-size: 40px;
  text-align: center;
}
.login {
  width: 400px;
  /* border: 1px solid #000; */
  margin: auto;
  padding: 0 20px;
  margin-bottom: 20px;
}
#login-form  {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
#login-form > .login-box {
  border: 0;
}

.login-box ul {
  padding: 0;
}

.login-box ul li {
  border: 1px solid #ccc;
  background: #fff;
  display: flex; flex-flow: row nowrap;
  margin-bottom: 10px;
  position: relative;
  bottom: -15px;
}

.login-box ul .error {
  padding: 10px;
  display: none;
  border: 0;
  color: red;
  animation: worning .3s ease;
  animation-iteration-count: 3;
}

.id-icon {
  padding: 20px;
  padding-right: 30px;
  width: 10px;
  position: relative;
  background-color: #fdfdfd;
}
.id-icon::after {
  content: '';
  display: block;
  background-image: url(../images/icon.svg);
  background-position: 0 0;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 14px; top: 11px;
}
.pwd-icon {
  padding: 20px;
  padding-right: 30px;
  width: 10px;
  position: relative;
}
.pwd-icon::after {
  content: '';
  display: block;
  background-image: url(../images/icon.svg);
  background-position: -21px 0;
  width: 21px;
  height: 21px;
  position: absolute;
  left: 14px; top: 9px;
}

.login-box span input {
  width: 130%;
  height: 40px;
  border: 0;
  padding-left: 10px;
}


.pwd-show-hide {
  width: 21px;
  height: 21px;
  background-image: url(../images/icon.svg);
  background-position: -105px 0;
  position: absolute;
  right: 12px;
  top: 10px;
}
.login-box .btm {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}


#login-form .btm label input[name=login-y] {
  appearance: none; /* 기본으로 나오는 체크박스 스타일 */
}

#login-form .btm label input[name=login-y] + span::before {
  background-color: fff;
  border: 1px solid #ccc;
  content: '';
  display: inline-block;
  width: 17px;
  height: 17px;
  background-image: url(../images/icon.svg);
  background-position: -65px -22px;
  margin-right: 5px;
} 

/* + 형제 선택자 */
#login-form .btm label input[name=login-y]:checked + span::before {
  background-position: -84px -21px;
}

.idpw-search {
  color: #297eff;
  margin-top: 15px;
}
.idpw-search::after {
  /* after : 가상선택자 */
  content: '◀';
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
} 
#login-btn {
	border : none;
  background: #297eff;
  width: 100%;
  color: white;
  padding: 20px 0;
  margin-top: 20px;
  margin-bottom: 5px;
}
.join_link {
  border: 1px solid #aaa;
  color: #297eff;
  padding: 20px 0;
  width: 100%;
  display: block;
  text-align: center;
  background: white;
}
footer {
  text-align: center;
  font-size: 12px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}
