/* reset */
div.product_option div.product_amount p.amount_pm button 
{ font-size:26px;
 border:none; 
 background:none; }
 
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    border: 0;
}

/* wrap */
.wrap {
    margin: 0 auto;
    width: 1240px;
}


/* 공통 헤더 */
#gnb {
    height: 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
}

h1 {
    margin: 20px 0 0 0;
    color: #297EFF;
    font-size: 2.5rem;
}

.search {
    float: left;
    padding-top: 35px;
}

.search button {
    height: 30px;
    border: 0;
    background: #fff;
}

.search button i {
    color: #297EFF;
}

.search_box {
    width: 300px;
    height: 25px;
    border: 1px solid #297EFF;
    border-radius: 30px;
}


/* gnb-utilmenu */
.gnb-utilmenu {
    text-align: right;
    padding-right: 20px;
    padding-top: 35px;
}

.gnb-utilmenu a i {
    margin: 10px;
    color: #297EFF;
}

/* gnb-navmenu */
.gnb-navmenu ul {
    overflow: hidden;
    height: 60px;
}

.gnb-navmenu li {
    float: left;
    text-align: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    background-color: #ddd;
    border-radius: 40px;
    margin: 5px;
}
.gnb-navmenu li:first-child {
    width: 50px;
}

.gnb-navmenu li a {
    display: block;
    color: #000;
}

.gnb-navmenu li a:hover,
.dropdown:hover {
    background-color:#297EFF;
    border-radius: 40px;
    color: #fff;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    width: 120px;
    height: 50px;
    display: block;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #297EFF;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*푸터*/
footer {
    background-color: rgb(239, 239, 239);
    width: 1240px;
    height: 150px;
    text-align: center;
}
.company span {
    font-size: 14px;
}

.corporate {
    font-size: 18px;
    font-family: 'Arial', 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}
.corporate span {
    font-size: 12px;
}
.corporate i {
    font-size: 12px;
}
.corporate-txt {
    height: 0;
}
.corporate-txt p {
    font-size: 14px;
}
address {
    padding-top: 30px;
    font-size: 12px;
}







/*product 작업부분 시작*/
#main > div {
    text-align:center;
    padding: 0;
    font-size: 24px;
}

/*product 간략한 정보*/
.contents_simple{
    height:600px
}

.location{
    height: 60px;
    width: 1240px;
}

.location_label{
    margin-left: 156px;
    padding-top: 20px
}

.location label{
    font-size: 20px;
}

.product{
    height: 540px;
    flex-direction: row;
}

/*왼쪽(이미지, 썸네일)*/
.product_lft{
    float: left;
    height: 540px;
    width: 620px;
}

.product_img{
    width: 400px;
    border: solid 4px;
    border-color:#cfcfcf;
    display: flex;
    align-items: center;
    margin: 20px auto 20px auto;
}
.product_img img{
    height: 400px;
    width: 400px;
}

.thumbnail{
    height:120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: auto 100px auto 100px;
}

#thumbnail_1 img, #thumbnail_2 img, #thumbnail_3 img, #thumbnail_4 img{
    height: 70px;
    width: 70px;
}

/*오른쪽(제품번호, 제품이름, 제품가격)*/
.product_rgt{
    float: right;
    height: 540px;
    width: 620px;
}
.product_info{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px auto 20px auto;
}

.product_num{
    font-size: 15px;
    margin: 15px 0 5px 0 ;
}
.product_name{
    font-size: 40px;
    margin-bottom: 15px;
}
.product_price{
    font-size: 50px;
    padding: 15px 0 15px 0;
}
.product_delivery{
    font-size: 15px;
    padding-top: 15px;
}

.product_option{
    height: 200px;
}
.product_amount{
    height: 80px;
    margin: 0 60px;
    font-size: 20px;
}
.amount_pm{
    display: flex;
    flex-direction: row;
}
.amount_pm > input{
    width: 60px;
    height: 40px;
    margin-top: 15px;
}
#result {
    margin:15px;
}

.nextbtn{
    display: flex;
    flex-direction: row;
    height: 120px;
}
.nextbtn button{
    width: 300px;
    height:70px;
    margin: auto;
    font-size: 30px;
}
.cart button{
    background-color: rgb(0, 162, 255);
    margin-left: 60px;
    margin-top:30px;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 30px;
}

.cart a, .buy a{
    color: white;
}

.buy{
    background-color: red;
    margin-top:30px;
    height: 40px;
    width: 150px;
    text-align: center;
    font-size: 30px;
}

/*product 상세한 정보*/
.contents_detail{
    height: 4300px;
}

/*scroll tab*/

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1240px;
    height: 80px;
    
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
nav li{
    display: inline-block;
    margin: 0;
    text-align: center;
}
nav li a{
    display: block;
    padding: 15px;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    width: 373px;
}
nav li a:hover{
    background-color: #f9f9f9;
}

/*scrolltab 고정*/
nav{
    background-color: #cfcfcf;
    top: 0;
    position: relative;
    z-index: 1;
}

.fixed-nav .contents_detail_wrap{
    transform: scale(1);
}

.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}


/*상품 상세 정보*/
.contents_detail_wrap{
    height: 3000px;
}
.titlearea{
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 130px;
}

#box1{
    height: 1800px;
    background-color: #f9f9f9;
    text-align: center;
    padding-top: 130px;
}

/*리뷰*/
#box2{
    height: 1400px;
    padding-top: 130px;
    align-items: center;
}
.review{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-top: 1px solid #b9b9b9;
}
.review td{
    font-size: 15px;
    text-align: left;
    height: 100px;
    border-bottom: 1px solid #b9b9b9;
    padding:10px 0 10px 50px;
    color: #717171;
}
.comment_title, .comment_product, .comment_summary{
    font-weight: bold;
    padding-top: 5px;
}
.pagination{
    text-align: center;
    margin-top: 30px
}
.pagination > li > a{
    color:#717171;
    background-color: #f9f9f9;
    border: 2px solid #b9b9b9;
    padding: 5px 10px;
}


/*제품문의*/
#box3{
    height: 800px;
    text-align: center;
    padding-top: 130px;
}
.ask{
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-top: 1px solid #b9b9b9;
}
.ask th{
    font-size: 15px;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid #b9b9b9;
    padding:10px;
    color: black;
    background-color: #f9f9f9;
}
.ask td{
    font-size: 15px;
    height: 25px;
    border-bottom: 1px solid #b9b9b9;
    padding:10px;
    color: #717171;
}