/* reset */
* {
    margin: 0;
    padding: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

img {
    border: 0;
}

/* wrap */
.wrap {
    margin: 0 auto;
    width: 1240px;
}


/* 공통 헤더 */
#gnb {
    height: 100px;
    background-color: #fff;
    display: grid;
    grid-template-columns: auto auto auto;
}

h1 {
    margin: 20px 0 0 0;
    color: #297EFF;
    font-size: 2.5rem;
}

.search {
    float: left;
    padding-top: 35px;
}

.search button {
    height: 30px;
    border: 0;
    background: #fff;
}

.search button i {
    color: #297EFF;
}

.search_box {
    width: 300px;
    height: 25px;
    border: 1px solid #297EFF;
    border-radius: 30px;
}


/* gnb-utilmenu */
.gnb-utilmenu {
    text-align: right;
    padding-right: 20px;
    padding-top: 35px;
}

.gnb-utilmenu a i {
    margin: 10px;
    color: #297EFF;
}

/* gnb-navmenu */
.gnb-navmenu ul {
    overflow: hidden;
    height: 60px;
}

.gnb-navmenu li {
    float: left;
    text-align: center;
    width: 150px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    background-color: #ddd;
    border-radius: 40px;
    margin: 5px;
}
.gnb-navmenu li:first-child {
    width: 50px;
}

.gnb-navmenu li a {
    display: block;
    color: #000;
}

.gnb-navmenu li a:hover,
.dropdown:hover {
    background-color:#297EFF;
    border-radius: 40px;
    color: #fff;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.dropdown-content a {
    width: 120px;
    height: 50px;
    display: block;
    color: #000;
}

.dropdown-content a:hover {
    background-color: #297EFF;
    color: #fff;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*푸터*/
footer {
    background-color: rgb(239, 239, 239);
    width: 1240px;
    height: 150px;
    text-align: center;
}
.company span {
    font-size: 14px;
}

.corporate {
    font-size: 18px;
    font-family: 'Arial', 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}
.corporate span {
    font-size: 12px;
}
.corporate i {
    font-size: 12px;
}
.corporate-txt {
    height: 0;
}
.corporate-txt p {
    font-size: 14px;
}
address {
    padding-top: 30px;
    font-size: 12px;
}



/*cart 작업부분 시작*/
.main{
    width: 100%;
    height: 800px;
    background-color: rgb(251, 251, 251);
    margin: 0 auto;
    align-items: center;
}
.titlearea{
    font-size: 30px;
    font-weight: bold;
    padding: 20px 130px;
}
.cartarea{
    padding: 0 130px;
    height: 700px;
}

/*cart 왼쪽 영역(상품 선택)*/
.cart_lft{
    float: left;
    width: 700px;
    height: 700px;
    background-color: rgb(255, 255, 255);
}
.itemcheck{
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom:1px solid black;
    padding:0 38px;
    font-size: 15px;
}
.checkbtn1{
    padding-top: 20px;
}
.checkbtn2{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
.checkbtn2 button{
    border: none;
    background-color: white;
    cursor: pointer;
}
.checkbtn2 span{
    font-size: 15px;
}
#chkdlt{
    margin-right: 20px;
}

/*itemview*/
.itemview table{
    height: 100px;
    padding: 20px 10px 0px 10px;
    text-align: center;
}
td{
    border: 1px solid #cfcfcf;
}

.itemview_thum img{
    width: 80px;
}

.amount_pm {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.amount_pm input{
   width: 20px; 
}
.btn_paynow{
    background-color: red;
    color: white;
    width: 100px;
    height: 40px;
    border: none;
    cursor: pointer;
}

/*cart 오른쪽 영역(결제)*/
.cart_rgt{
    float: right;
    width: 250px;
    height: 500px;
    background-color: white;
}
.cart_price{
    padding-top: 80px;
    padding-bottom: 20px;
}
.cart_itemprice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cart_deliveryprice{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
.cart_sum{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.btn_pay{
    width: 200px;
    height: 50px;
    background-color: red;
    border: none;
    color: white;
    margin: 30px 25px;
}

/*상품*/
.item img {
    width: 305px;
    height: 175px;
    background: #333;
    margin-top: 20px;
}
.product {
    width: 383px;
    height: 268px;
    background: #fff;
    box-shadow:0 3px 3px 0 #999;
}

.item>p {
    text-align: center;
    font-size: 35px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 50px;
}
.item a { 
    font-size: 16px;
}
.item div p {
    font-size: 12px;
}
.product_first{
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}
.product_second{
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}
.product_third{
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
}