/* Google web font CDN*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');

*{
    box-sizing: border-box; /*전체에 박스사이징*/
    outline: none; /*focus 했을때 테두리 나오게 */
}

body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:14px;
    line-height: 1.5em;
    color : #222;
    margin: 0;
}

.sign-up a{
    text-decoration: none;
    color: #222;
}

/*member sign in*/
.member{
    width: 400px;
    /* border: 1px solid #000; */
    margin: auto; /*중앙 정렬*/
    padding: 0 20px;
    margin-bottom: 20px;
}

.member .main-logo{
    /*로고는 이미지라 인라인 블록이니까 마진 오토 안됨 블록요소만 됨 */
    display: block;
    margin: 40px auto;
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    color: #297eff;

}

.member .field{
    margin :5px 0; /*상하로 좀 띄워주기*/
}

.member b{
    /* border: 1px solid #000; */
    display: block; /*수직 정렬하기 */
    margin-bottom: 6px;
    margin-top: 6px;
}

/*input 중 radio 는 width 가 100%면 안되니까 */
.member div:not(.terms) input:not(input[type=radio]), .member select{
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
}

.member input[type=button]
{
    background-color: #297eff;
    color:#fff
}

.signUp button {
    background-color: #969696;
    color:#fff;
    border: 1px solid #dadada;
    padding: 15px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 15px;
}

.field>button {
    background-color: #297eff;
    color:#fff;
    border: 1px solid #dadada;
    width: 40%;
    margin-bottom: 5px;
    padding : 5px 0;
    border-radius : 5px;
}

.field>button:hover{
	cursor: pointer;
	background-color: #0064CD;
}


.member input:focus, .member select:focus{
    border: 1px solid #297eff;
}

.field.tel-number div {
    display: flex;
}

.field.tel-number div input:nth-child(1){
    flex:2;
}

.field.tel-number div input:nth-child(2){
    flex:1;
}

.field.gender div{
    background-color: #fff;
}

.placehold-text{
    display: block; /*span 으로 감싸서 크기영역을 블록요소로 만들어ㅜ저야한다*/
    position:relative;
    /* border: 1px solid #000; */
}

.placehold-text:before{ 
    position:absolute; /*before은 inline 요소이기 때문에 span으로 감싸줌 */
    right : 20px;
    top:13px;
    pointer-events: none; /*자체가 가지고 있는 pointer event 를 없애준다 */
}

.terms {
    margin-top: 15px;
    font-size: 15px;
}

.terms label {
    display: block;
}





.member-footer {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.member-footer div a:hover{
    text-decoration: underline;
    color:rgb(88, 88, 238)
}

.member-footer div a:after{
    content:'|';
    font-size: 10px;
    color:#bbb;
    margin-right: 5px;
    margin-left: 7px;
    /*살짝 내려가 있기 때문에 위로 올려주기 위해 transform 사용하기*/
    display: inline-block;
    transform: translateY(-1px);

}

.member-footer div a:last-child:after{
    display: none;
}

.error{
    font-size: 12px;
    height: 20px;
    color:red;
    font-weight: 700;
    margin-left: 5px;
}

.sign-up hr {
    border: 1px solid #dadada;
    margin-top: 30px;
}

@media (max-width:768px) {
    .member{
        width: 100%;
    }
}
